*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: white;
    color: white;
}

.nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:blue;
    align-items: center;
}
.nav-as-a{
    display: flex;
    align-items: center;
}

.nav-as{
    font-size: 14px;
    font-weight: bold;
}

#num{
    padding: 5px;
    margin-left: 2px;
}

.nav-as-b{
    font-size: 18px;
    margin: 10px;
}

.dropdown{
    margin-left: 5px;
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
}

.nav-as-c{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

#officer{
    font-size: 20px;
    padding: 12px;
    background: white;
    color: black;
}

span i{
    margin: 7px;
}

.header{
    /* position: absolute; */
    width: 100%;
    background-color: white;
    color: black;
}

.column-12{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colm-md{
    width: 60%;
    align-items: center;
    margin-left: 5%;
}

.colm-msd{
    color: #3e0e6e;
    margin-right: 18px;
    display: block;
}
#bihar{
    margin-left: 25%;
}
#ddh2{
    margin-left: 15%;
}

.imag{
    margin-top: 10px;
    height: 100px;
    width: 120px;
    background: url("logo2_new1.png") ;
    background-size: cover;
}

.columnb-12{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.clu-b p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.clu-b p a{
    color: #c0392b;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.clu-c p a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0392b;
}

.clu-d p a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0392b;
}

p a:hover{
    text-decoration-line: none;
}

.extra{
    height: 2px;
    width: 100%;
    color:rgb(110, 87, 102);
}

.sect-ion{
    height: 550px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.img{
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid gray;
    margin-right: 10px;
    
}

.imags{
    height: 420px;
    width: 475px;
    background-image: url(br15.jpg);
    background-size: cover; 
} 
.sec-io{
    height:500px;
    width: 50%; 
    display: flex;
    border: 1.5px solid gray;
    justify-content: space-around;
}
.sec-immg{
    height: 460px;
    width: 400px;
    margin: 10px;
    box-shadow: 2px 5px 8px rgba(4, 8, 12 , 14);
    display: flex;
    display:inline-block;
    text-align: center;
}

.sec-ig{
    height: 460px;
    width: 400px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 5px 8px rgba(4, 8, 12 , 14);
    
}
.sec-immg-a{
    height: 350px;
    width: 400px;
    background-image: url('images-cm.webp');
    background-size: cover;
}
.sec-immg-b{
    height: 350px;
    width: 310px;
    background-image: url('ho-min.jpg');
    background-size: cover;
    
}

.parent{
    color: black;
    font-size: 20px;
    
}

.features{
    width: 100%;
    display: flex;

}

.jn-featur{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.jsn-featur{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.jmn-feat{
    height: 70px;
    width: 350px;
    background-color: rgb(22, 22, 180);
    margin: 10px;
    border-radius: 8px;
    
}

.jmn-feat:hover{
    background-color: #015486;
    cursor: pointer
}

.submit{
    height: 60px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 a{
    color: white;
    font-size: 15px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

footer{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(33, 82, 65);
    border: 1.5px solid grey;
    align-items: center;
}
.foo-ter{
    text-align: center;
    align-items: center;
    color: white;
}
.foo-ter a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.foo-ter p{
    margin: 10px;
    font-size: 18px;
    color: black;
}
.foot-img{
    height: 280px;
    width: 300px;
    display: inline-block;
    text-align: center;
}
.ft-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('Bihar_Government_Banner.png');
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 40px;
}

.officet ul li{
    margin: 10px;
    font-size: 20px;
}

.officet li a{
    text-decoration: none;
    color: white;
}

@media (max-width: 992px) {
  main {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  main {
    grid-template-columns: 1fr;
  }

  aside {
    margin-top: 1rem;
  }
}