
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 224, 152);
}
.container{
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    margin: 0 15px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    position: absolute;
    content: "";
    left: 0px;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: blue;
}
.container form{
    position: relative;
    min-height: 490px;
    margin-top: 16px;
    background-color: #fff; 
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease; 
}
.container form .form.Secund{
    opacity: 0;
    pointer-events: none; 
    transform: translateX(100%);
}   
form.secActive .form.Secund {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
} 

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
} 
.container form .titles{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0 ;
    color: #333;
}
.container form .fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
}
.input-field label{
    font-size: 14px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400; 
    border-radius: 5px;
    color: #333; 
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 45px;
    margin: 8px 0;
} 
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"]:valid{
    color: #333;
}

.container form button, .BackBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 13px 0;  
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    color: #fff;
}
.container form button,
.container form .BackBtn{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button .BtnText{
    font-size: 22px;
}
form button i,
form .BackBtn i{
    margin: 0 6px;
}
form .BackBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button, .BtnText{
    margin-right: 14px;
}

