
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=IM+Fell+DW+Pica+SC&family=Kalnia:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:wght@400;700&family=Varela+Round&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color:#f75f1d;
    --text-color:#1a2428;
    --bg-color: #fff;
}
::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--light-green-color);
}
::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--green-color);
    border-radius: 5rem;
}
section{
   padding: 4.5rem 0 1.5rem;
} 
img{
    width: 100%;
}
body{
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 20px  100px;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.5s;
    
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}
.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile span{
    font-size: 13px;
    font-weight: 500;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .fa-solid{
    font-size: 24px;
    color: var(--orange-color);
}
.navbar{
    display: flex;
    column-gap: 0.5rem;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}
.navbar a:hover,  .home-action{
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container{
    position: relative; 
    width: 100%; 
    min-height: 640px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;   */
    background: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} 
.home-text{
    margin: 200px 130px;
    max-width: 500px;
}
.container img{
    width: 400px;
   
    position: absolute; 
    bottom: -500px; 
    right: 200px; 
} 

.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}
.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
} 

.btn{
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    max-width: 160px;
}

.btn .fa-solid{
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: 5px; 
} 
.btn:hover{
    background-color: var(--light-orange-color);
    transition: 0.2s ease;
}
.swiper-button-next{
    background-image: url(img/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right: 20px;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev{
    background-image: url(img/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 20px;
}
.swiper-button-prev::after{
    display: none;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading h1{
    font-size: 1.6rem;
    font-weight: 600;
}
.heading span{
    color: var(--green-color);
}
.categories{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.categories-container{
    display: flex;
    margin: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.categories-container .box{
    position: relative;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
}
.categories-container .box img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.categories-container .box h2{
    font-size: 1rem;
    font-weight: 600;
}
.categories-container .box span{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.categories-container .box .fa-solid {
    height: 24px;
    width: 24px;
    background: var(--green-color);
    color: var(--bg-color);
    border-radius: 5rem; 
    margin-top: 2rem;
    position: absolute;
    bottom: -0.8%;
    display: none;
}
.categories-container .box:hover .fa-solid {
    display: flex; /* show and center it */
    align-items: center; 
    justify-content: center;
    transition: 0.2s all linear;
}


.categories-container .box:hover .fa-solid{
    display: block;
    transition: 0.2s all linear;
}
.box1{
    background: #fef4ea;
}
.box2{
    background: #e9f4e3;
}
.box3{
    background: #faeaea;
}
.box4{
    background: #eeeef9;
}
.box5{
    background: #f7f6d7;
}
.products{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.products-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}
.products-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}
.products-container .box span{
    font-weight: 500;
    font-size: 13px;
}
.products-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.products-container .box .price{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange-color);
}
.products-container .box .price span{
    color: var(--text-color);
}
.products-container .box .fa-solid {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-color);
  color: var(--bg-color);
  font-size: 20px;
  border-radius: 0.5rem 0 0.5rem 0; 
} 
.products-container .box .fa-solid:hover{
    background: var(--orange-color);
    transition: 0.2s all linear;
}
.products-container .box .fa-regular{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--light-orange-color);
}
.products-container .box .discount{
    position: absolute;
    left: 0;
    top: 1rem;
    background: var(--light-orange-color);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(100% 0%, 76% 53%, 100% 100%, 0 99%, 0% 50%, 0 0);
}
.about{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}
.about-text span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-color);
}
.about-text p{
    margin: 0.5rem 0 1rem;
}
.customer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.customer h2{
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}
.customer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.customer-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--green-color);
}
.customer-container .box:hover{
    transform: translateY(10px);
    transition: 0.2s all linear;
}
.customer-container .box .fa-solid{
    font-size: 24px;
    color: var(--green-color);
}
.customer-container .box .star .fa-solid{
    color: var(--light-orange-color);
    font-size: 1rem;
}
.customer-container .box  p{
    font-size: 0.938rem;
}
.review-profile{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
}
.review-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.review-profile h3{
    font-size: 1rem;
    font-weight: 600;
}
.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #fef4ea;
    padding: 20px;
    border-radius: 0.5rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box .fa-solid{
    color: var(--light-orange-color);
    font-size: 20px;
    cursor: pointer;
}
.footer-box p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .fa-brands{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    color: var(--green-color);
    border-radius: 50%;
    font-size: 20px;
}
.social .fa-brands:hover{
    background: var(--green-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.footer-box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a{
    color: var(--text-color);
    margin-bottom: 1rem;
}
.footer-box a:hover{
    color: var(--light-orange-color);
}
.footer-box form{
    border-bottom: 1px solid var(--text-color);
    display: flex;
    padding: 10px;
    align-items: center;
    column-gap: 0.5rem;
}
.footer-box form input{
    background: transparent;
    border: none;
    outline: none;
}
.footer-box .fa-envelope{
    color: var(--green-color);
}
.copyright{
    text-align: center;
    padding: 20px;
}
@media (max-width: 1080px){
    header{
        padding: 18px 60px;
    } 
    .home-text{
        padding: 0 100px;
    }
    .container img{
        right: 100px;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    } 
    .section{
        padding: 50px 4%;
    }
    .container img{
        right: 100px;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
        margin: 0;
    }
} 
@media (max-width: 852px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
}
