/* :root{
    -ms-scrollbar-3dlight-color: ;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #c2eeec, #ba9090ea, #50896d);
}
.box{
    padding: 30px;
    width: 400px;
    background-color: #155e75;
    border-radius: 8px;
}
.qr-header h1{
    font-size: 26px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.qr-header input{
    width: 100%;
    margin-block: 12px;
}
.qr-header input, select{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #74a88f;
}
.qr-header label{
    color: white;
    font-size: 20px;
}
.qr-header div{
    display: flex;
    justify-content: space-between;
}
.qr-footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.qr-main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;   /* space for QR */
}

.qr-footer button{
    border: none;
    text-decoration: none;
    padding: 14px 36px;
    margin-inline: 2px;
    font-size: 20px;
    background-color: #fff;
    color: #467e8f;
    border-radius: 8px;
    font-weight: 600;
}